* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets general background color for html body */
body {
    background-color: #d9dcd6;
}

/* header class with dimensions */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* specific display & font size for h1 contained in the header class */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* sets color for specific child of h1 contained in header class */
.header h1 .seo {
    color: #d9dcd6;
}
/* specific configs for <nav> tag contained in header class */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* list style type for ul child of <nav> specific to header class */
.header nav ul {
    list-style-type: none;
}
/* display and margin configs for li items contained in ul of nav, child of header class */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* general configs for <a> tags in html */
a {
    color: #ffffff;
    text-decoration: none;
}
/* general <p> tag font configs for html */
p {
    font-size: 16px;
}
/* hero class along with specific dimensions */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* float-left class with specifics */
.float-left {
    float: left;
    margin-right: 25px;
}
/* float-right class with specifics */
.float-right {
    float: right;
    margin-left: 25px;
}
/* content class with width, display & margin specs */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* code sets specifics for the seo, .online-reputation-management & .social-media-marketing id's in the html */
#search-engine-optimization,
#online-reputation-management,
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* maximum height configs for related class images */
.search-engine-optimization img, 
.online-reputation-management img, 
.social-media-marketing img  {
    max-height: 200px;
}


/* margin config and font size specific to the h2 child of SEO class */
.search-engine-optimization h2, 
.online-reputation-management h2, 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* benefits class along with relative configs */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* margin and color settings for the following three benefit classes */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* margin and text align configs for the h3's contained in the benefit classes */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* display, margin and maximum width configs for the images of the benefit classes */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer class along with padding, background, font family and text configs */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* h2, child of footer class, font size setting(s) */
.footer h2 {
    font-size: 20px;
}
